@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono&display=swap');

html,
body,
#__next {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.4s; /* Safari */
  transition: 0.4s all;
}
a:active {
  transform: scale(0.78);
}
button {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.4s; /* Safari */
  transition: 0.4s all;
}
button:active {
  transform: scale(0.94);
}

* {
  box-sizing: border-box;
}
